.prompts-form-container {
  min-width: 39vw;
  margin: 20px auto;
  padding: 50px;
  border-radius: 8px;
}

.prompts-form-container .title {
  padding: 0px 0px 35px 0px;
}
.prompts-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.prompts-form-container .form-section {
  margin-bottom: 15px;
}

.prompts-form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.prompts-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Stili per gli editor */
.prompts-form-container .codemirror-editor .CodeMirror {
  height: 250px !important;
  max-width: 800px;
}

.prompts-form-container .codemirror-editortext .CodeMirror {
  height: 110px !important;
  max-width: 800px;
}

.prompts-form-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  background-color: transparent;
  color: black;
}

/* Personalizzazione della scrollbar per il ControlledEditor */
.codemirror-editor {
  height: 300px; /* Imposta un'altezza fissa per il contenitore */
  overflow-y: scroll; /* Forza la scrollbar verticale a rimanere visibile */
  /* Aggiungi queste proprietà per garantire la visibilità della scrollbar */
  position: relative; /* Necessario per il posizionamento */
}

/* Personalizzazione della scrollbar per WebKit */
.codemirror-editor::-webkit-scrollbar {
  width: 8px; /* Larghezza della scrollbar */
}

.codemirror-editor::-webkit-scrollbar-track {
  background: white; /* Colore dello sfondo della scrollbar */
}

.codemirror-editor::-webkit-scrollbar-thumb {
  background: gray; /* Colore della parte mobile della scrollbar */
  border-radius: 4px; /* Raggio degli angoli della scrollbar */
}

.codemirror-editor::-webkit-scrollbar-thumb:hover {
  background: darkgray; /* Colore della parte mobile quando si passa il mouse */
}

/* Regole per Firefox */
.codemirror-editor {
  scrollbar-width: thin; /* Imposta la larghezza della scrollbar */
  scrollbar-color: gray white; /* Colore della parte mobile e dello sfondo */
}
