# Node.js e dipendenze
node_modules/
.cache/
.env

# File temporanei e di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


# Output di compilazione TypeScript
heroku/dist/
heroku/node_modules/
heroku/.env
 

# Progetto principale
dairy-milk/frontend/node_modules/
dairy-milk/frontend/.cache/
dairy-milk/frontend/dist/
dairy-milk/frontend/build/
