/* daily-milk/frontend/src/www/components/popups/invoices/invoicePopup.css */
.invoices-container {
  width: 60vw;
  border-collapse: collapse;
  padding: 30px;
}

.invoices-container table {
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
}

.invoices-container th,
.invoices-container td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.invoices-container th {
  background-color: #ccc; /* Colore di sfondo per l'intestazione */
  color: black; /* Colore del testo per l'intestazione */
  border: 1px solid grey;
}

.invoices-container tr:nth-child(even) {
  background-color: #f2f2f2; /* Colore di sfondo per le righe pari */
}

.invoices-container tr:hover {
  background-color: #ddd; /* Colore di sfondo al passaggio del mouse */
}

.scrollable-table-body {
  max-height: 200px; /* Imposta l'altezza massima desiderata */
  overflow-y: auto; /* Abilita lo scorrimento verticale */
  display: block; /* Rende il contenitore un blocco */
}

.btnInvoice {
  background-color: #008cba; /* Colore di sfondo per il pulsante */
  color: white; /* Colore del testo per il pulsante */
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Angoli arrotondati per il pulsante */
}

.btnInvoice :hover {
  background-color: #005f73; /* Colore di sfondo al passaggio del mouse per il pulsante */
}
