/* src/components/Home.css */

.home-container {
  text-align: center;
  margin-top: 0px;
  padding: 20px;
  position: relative;
  max-height: none;
  height: auto;
  padding-top: 80px;
}

.header {
  margin-bottom: 20px;
}

.footer {
  background-color: white;
}
.header p {
  color: rgb(241, 194, 107);
  font-size: 2.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
.disabled-image {
  opacity: 0.5;
  pointer-events: none;
}

.techweuse {
  font-size: 2.3rem;
  color: #aaa;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
}

.features-row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.main-row {
  margin-bottom: 50px;
  justify-content: center;
}

.main-feature {
  max-width: 500px;
  margin: 0 auto;
}

.secondary-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.feature-item {
  padding: 1px;
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-top: 24px;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.feature-image {
  width: 100%;
  height: 330px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.feature-item:hover .feature-image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  text-align: left;
}

.overlay h3 {
  margin: 0;
  color: rgb(241, 194, 107);
  font-size: 1.5rem;
}

.subtitle {
  color: white;
  font-size: 1rem;
}

.tecnology {
  background-color: white;
  border: 1px solid white;
  width: 100vw;
}

.ourservice {
  text-align: center;
  color: rgb(241, 194, 107);
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 20px;
}

.actions-chatbot {
  display: flex;
  gap: 10px;
  padding: 14px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.btn i {
  font-size: 36px;
  color: #007bff;
}

.btn:hover i {
  color: #0056b3;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.logout-link {
  background-color: #ccc;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 4px;
  position: relative;
  top: -510px;
  left: 45vw;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.logout-btn i {
  color: red;
  transition: color 0.3s ease;
}

.logout-btn i:hover {
  color: darkred;
}

.logout-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout-btn i {
  color: darkred;
  transition: color 0.3s ease;
}

.logout-btn i:hover {
  color: red;
}

.logo {
  width: 5%;
  margin-top: -340px;
}

.num {
  font-size: 30px;
  color: greenyellow;
  display: none;
}

/* Stili per il bottone disabilitato */
.disabled-btn {
  opacity: 0.7;
  cursor: not-allowed !important;
  display: none;
}

.disabled-btn:hover {
  transform: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.disabled-btn i {
  color: #ccc !important;
}
