/* src/components/popups/chatbot/ChatbotPopup.css */

.chatbot-popup-poulin {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 65vw;
  position: relative;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 2px solid #ccc;
}

/* Sezione Chat */
.chat-section-source {
  width: 100%;
  padding: 0px;
  background-color: #fff;
  box-sizing: border-box;
  height: 83vh;
  margin-top: 30px;
  margin-left: -10px;
}

.resize-popup-link {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.visible-panel {
  position: relative;
  left: 95%;
  height: 30px;
  top: 15px;
  z-index: 99;
  background-color: none;
  margin-left: -80px;
}

.close-popup {
  position: absolute;
  left: 96%;
  height: 30px;
  top: 15px;
  margin-bottom: 8px;
  z-index: 9999999;
  font-size: 22px;
  background-color: none;
}

.hover-effect:hover {
  background-color: rgb(
    211,
    204,
    204
  ) !important; /* Cambia il colore di sfondo come desiderato */
}
