html,
body {
  height: 100%;
  margin: 0;

  /* Imposta l'immagine di sfondo */
  background-size: cover; /* L'immagine copre l'intero sfondo */
  background-repeat: repeat; /* Impedisce che l'immagine si ripeta */

  /* Imposta un colore di sfondo nero */
  background-color: black; /* Colore di sfondo nero */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* L'altezza minima dell'app è l'altezza della finestra */
}

.main-content {
  flex: 1; /* Permette al contenuto di espandersi */
  margin: 10px;
  height: 100%;
}

.footer {
  padding: 0px; /* Spaziatura interna del footer */
  text-align: center; /* Centra il testo nel footer */
}
