.settings-popup {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-width: 800px;
  margin: auto;
}

.settings-popup-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  flex: 1;
  min-width: 0;
  padding: 10px;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spaziatura tra i campi */
}

table {
  width: 100%; /* La tabella occupa tutta la larghezza */
  border-collapse: collapse; /* Rimuove gli spazi tra le celle */
}

td {
  padding: 10px; /* Spaziatura interna delle celle */
}

table td:first-child {
  width: 250px; /* Imposta la larghezza di 250px per il primo td di ogni riga */
}

.form-input {
  width: 100%; /* Gli input occupano tutta la larghezza della cella */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-checkbox {
  margin-left: 10px;
}

.form-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

.close-button {
  margin-top: 15px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-align: center;
}

.save-button-container {
  display: flex;
  justify-content: flex-end; /* Allinea il pulsante a destra */
  margin-top: -30px; /* Spazio sopra il pulsante */
}

.save-button {
  max-width: 140px; /* Larghezza massima del pulsante */
  padding: 10px; /* Padding per il pulsante */
  background-color: #007bff !important; /* Colore blu di sfondo, forzato */
  color: white !important; /* Colore del testo, forzato */
  border: none; /* Nessun bordo */
  border-radius: 4px; /* Angoli arrotondati */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

.save-button:hover {
  background-color: #0056b3 !important; /* Colore blu scuro al passaggio del mouse, forzato */
}

.editor-container {
  height: 400px; /* Altezza del contenitore */
  display: flex; /* Assicura che il contenitore gestisca il layout */
  flex-direction: column; /* Imposta la direzione del layout */
}

.custom-codemirror-editor .CodeMirror {
  height: 580px !important;
  border: 1px solid #ddd;
  border-radius: 5px;
}
