.prompts-form-container {
  min-width: 64vw; /* Larghezza aumentata */
  max-width: 80vw; /* Limita la larghezza massima */
  margin: 20px auto; /* Centra il contenitore */
  padding: 50px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.prompts-form-container .title {
  padding: 0 0 35px;
  text-align: center;
  font-size: 1.8rem; /* Aumenta la dimensione del titolo */
  color: #333;
}

.prompts-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.prompts-form-container .form-section {
  margin-bottom: 15px;
}

.prompts-form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button :hover {
  background-color: #45a049;
}

.prompts-form-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  color: black;
}

.prompts-form-container .editor-height {
  height: 600px;
}

.codemirror-editor .CodeMirror {
  height: 600px !important; /* Altezza dell'editor */
  max-width: 100%; /* Larghezza al massimo dello spazio disponibile */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f8f8f8;
}

.codemirror-editor {
  overflow-y: auto; /* Abilita lo scrolling verticale */
  width: 100%; /* Usa tutto lo spazio disponibile */
  max-width: 100%; /* Assicura l'adattamento */
}

/* Personalizzazione della scrollbar */
.codemirror-editor::-webkit-scrollbar {
  width: 8px;
}

.codemirror-editor::-webkit-scrollbar-track {
  background: white;
}

.codemirror-editor::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

.codemirror-editor::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

/* Regole per Firefox */
.codemirror-editor {
  scrollbar-width: thin;
  scrollbar-color: gray white;
}
